*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

footer{
    display: block;
    text-align: center;
    padding: 90px;
}

.titulo{
    color: #D50080;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;

}

/* HEADER */
header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8C1958, #D50080, #f53eb8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8C1958, #D50080, #f53eb8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position:relative;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;


}


.textos-header h1 {
    font-size: 50px;
    color: aliceblue;

}
.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
    
}

.wave{
    position:absolute;
    bottom: 0;
    width: 100%;
}

.main{
    display: block;
}

.boleta{
    /*padding: 60px 0;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; */
    height: 100%;
    display: grid;
    grid-template: auto auto / auto auto;
    grid-row-gap: 10%;
    grid-column-gap: 10%;
    justify-content: center;
   
}
/*
.boleta .boleta-cont{
    background: #D50080;
    display: flex;
    width: 500px;
    height: 200px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    /*flex-direction:column;

}

.boleta .boleta-cont img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.boleta .boleta-cont .texto-partidos{
    width: 60%;
    color: #fff;
}

.boleta .boleta-cont .texto-partidos p{
    padding-top: 5px;
}
*/
.boleta-cont{
    background: #D50080;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template: auto / 25% auto;
    
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.texto-partidos{
    display: grid;
    grid-template: auto auto auto/ auto;
    color: white;
}

.nombrePartido{
    display: flex;
    align-self: flex-end;
    margin-left: 15px;
}

.nombreCandidato{
    display: flex;
    margin-left: 15px;
}

.panelButtons{
    margin-left: 15px;
}

.iniciar {
 display: inline-block;
 padding: 7px 0;
 width: 100px;
   border: 1px solid #fff;
   border-radius: 50px;
   text-align: center;
   text-decoration: none;
    color: crimson;
    background: #fff;
}
.logintext h2 {
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
    
}
.login{
    display: block;
    justify-content: center;
    align-items: center;

}
.avatar-content{
    display: block;
    justify-content: center;
    align-items: center;
}

.boton-terminar2{
    width: 300px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    border-style: none;
    background: #fff;
    color: #bc4e9c;
    transition: all 300ms;
}
.boton-terminar2:hover{
    background: #8C1958;
    transition: all 300ms;
 
}

.boton-votar{
    width: 200px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    border-style: none;
    background: #fff;
    color: #bc4e9c;
    transition: all 300ms;
}
.boton-votar:hover{
    background: #8C1958;
    transition: all 300ms;
    color:#fff;
 
}

/* RESPONSIVIDAD*/
@media screen and (max-width:900px){
    .boleta{
        /*padding: 60px 0;
        max-width: 1000px;
        margin: auto;
        overflow: hidden; */
        
        
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center; 

    }

    .boleta-cont{
        background: #D50080;
        width: 450px;
        height: 200px;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        margin-bottom: 30;
        align-items: center;
        justify-content: center;
    }
    .panelButtons{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .boton-votar{
        width: 200px;
        height: 50px;
        font-size: 24px;
        
        
        
        
        
        border-style: none;
        background: #fff;
        color: #bc4e9c;
        transition: all 300ms;
    }
    .boton-votar:hover{
        background: #8C1958;
        transition: all 300ms;
        color:#fff;
     
    }

}
@media screen and (max-width:500px){
    .titulo{
        color: #D50080;
        font-size: 40px;
        text-align: center;
        margin-bottom: 60px;
    }
    .boleta-cont{
        background: #D50080;
        width: 350px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
        display: grid;
        grid-template: auto / 25% auto;
        padding: 10px;
        
    }

    .boton-votar{
        width: 100px;
        height: 30px;
        font-size: 14px;
        padding: 10px;
        text-align: center;
        
        
        
        
        
        border-style: none;
        background: #fff;
        color: #bc4e9c;
        transition: all 300ms;
    }
    .boton-votar:hover{
        background: #8C1958;
        transition: all 300ms;
        color:#fff;
     
    }


}
@media screen and (max-width:300px){

    .textos-header h1 {
        font-size: 40px;
        color: aliceblue;
    
    }
    .textos-header h2 {
        font-size: 20px;
        font-weight: 300;
        color: aliceblue;
        
    }

    .titulo{
        color: #D50080;
        font-size: 40px;
        text-align: center;
        margin-bottom: 60px;
    }
    .boleta-cont{
        background: #D50080;
        width: 250px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
        display: grid;
        grid-template: auto / 25% auto;
        padding: 10px;
        
    }
    .image img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 3px solid #fff;
        border-radius: 50%;
        display: block;

    }
}
